<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0" 
    viewmodes="fullscreen"            
    id="com.intel.sample"
    versioncode = "1" 
    version   = "0.0.1">
  
  <name>Counting Beads</name>
  <icon src="icon_72.png"/>
  <content src="index.html"/>
  <description>
    A basic counting game like in the ancient times targeting young kids.
  </description>
  <author href="http://software.intel.com/html5">
    Intel Corporation
  </author>

  <preference name="phonegap-version" value="2.0.0" />
  <feature name="http://api.phonegap.com/1.0/media"/>

  <!-- for Android -->
  <preference name="android-minSdkVersion" value="9" />
  
  <author/>
  <license/>
</widget>
