<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f5172ab5-cecf-4cfc-a6f9-93edfbe1f784" Version="1.0.0.0" Publisher="CN=Jennifer" />
  <Properties>
    <DisplayName>HTML5_CountingBeads</DisplayName>
    <PublisherDisplayName>Jennifer</PublisherDisplayName>
    <Logo>win8-imgs\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="index.html">
      <VisualElements DisplayName="HTML5_CountingBeads" Logo="win8-imgs\logo.png" SmallLogo="win8-imgs\smalllogo.png" Description="HTML5_CountingBeads" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="win8-imgs\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>